:root {
  --link-color: var(--g-primary);
  --link-color-hover: var(--g-primary-dark);
}

/*
 * sircus-elements-link
 ================================================== */
a {
  color: var(--link-color);
}
a:hover,
a:focus,
a:active  {
  color: var(--link-color-hover);
}
